@import 'styles/utilities';

.loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75) url(../../../../../images/loader.gif) center center
    no-repeat;
  background-size: rem(66) rem(66);
  color: #485257;
  z-index: 999;
}
