@import 'styles/utilities';

.button {
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding: rem(8) rem(4);
  border: none;
  border-radius: rem(5);
  border-color: transparent;
  background-image: none;
  color: #fff;
  font-size: em(14);
  font-weight: normal;
  line-height: 1.3333333;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;

  &--default {
    background-color: #bdc3c7;
  }

  &--primary {
    background-color: #00aeef;
  }

  &--success {
    background-color: #21d376;
  }

  &--danger {
    background-color: #e33b15;
  }

  &--warning {
    background-color: #f39c12;
  }
}
